* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("bg.png");
}

.menu {
  position: absolute;
  width: 400px;
  height: 100%;
  background-color: #202336;
}

.menu-tabs {
  margin-top: 160px;
}

.menu-tabs-tab {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4px;
  width: 320px;
  border-bottom: 4px solid white;
  margin: 40px;
}

.menu-tabs-tab-icon {
  margin-left: -8px;
  margin-bottom: 2px;
}

.menu-tabs-tab-text {
  color: white;
  text-align: right;
  font-size: 32px;
  font-family: Bahnschrift;
  height: 32px;
  padding-bottom: -6px;
  margin-top: 8px;
}

.menu-playlist {
  width: 320px;
  margin: 40px;
  margin-top: 100px;
}

.menu-playlist-title {
  color: white;
  font-size: 40px;
  font-family: Bahnschrift;
  letter-spacing: 2px;
}

.menu-playlist-new {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-playlist-new-text {
  font-size: 30px;
  font-family: Source Sans Pro;
  color: #71709e;
  font-weight: bolder;
  margin-left: 8px;
}

.menu-profile {
  width: 360px;
  margin: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player {
  margin-left: 400px;
}

.music-player {
  width: 700px;
  height: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  margin-bottom: 0;
  padding: 8px;
}

.music-player-trackname {
  font-family: Source Sans Pro;
  font-size: 24px;
  text-align: center;
  color: white;
}

.music-player-bar {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin: auto;
}

.music-player-progressbar {
  width: 440px;
  height: 16px;
  background-color: #71709e;
  border-radius: 8px;
}

.music-player-progressbar-inner {
  width: 6px;
  height: 16px;
  background-color: white;
  border-radius: 8px;
}
/*# sourceMappingURL=style.css.map */