*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("bg.png");
}
.menu{
  position: absolute;
  width: 400px;
  height: 100%;
  background-color: #202336;

  &-tabs{
    margin-top: 160px;
    &-tab{
      justify-content: space-between;
      display: flex;
      padding-bottom: 4px;
      width: 320px;
      border-bottom: 4px solid white;
      margin: 40px;

      &-icon{
        margin-left: -8px;
        margin-bottom: 2px;
      }
      &-text{
        color:white;
        text-align: right;
        font-size: 32px;
        font-family: Bahnschrift;
        height: 32px;
        padding-bottom: -6px;
        margin-top: 8px;
      }
    }
  }

  &-playlist{
    width: 320px;
    margin: 40px;
    margin-top: 100px;

    &-title{
      color:white;
      font-size: 40px;
      font-family: Bahnschrift;
      letter-spacing: 2px;
    }
    &-new{
      justify-content: flex-start;
      display: flex;

      &-text{
        font-size: 30px;
        font-family: Source Sans Pro;
        color: #71709e;
        font-weight: bolder;
        margin-left: 8px;
      }
    }
  }

  &-profile{
    width: 360px;
    margin: 20px;
    justify-content: flex-start;
    display: flex;
  }

}

.player{
  margin-left: 400px;
}

.music-player{
  width:700px;
  height: 80px;
  position: absolute;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  margin: auto;
  margin-bottom: 0;
  //background-color: #202336;
  padding: 8px;

  &-trackname{
    font-family: Source Sans Pro;
    font-size: 24px;
    text-align: center;
    color:white;

  }
  &-bar{
    justify-content: flex-start;
    display: flex;
    width: 500px;
    margin: auto;
  }
  &-progressbar{
    width:440px;
    height:16px;
    background-color:#71709e;
    border-radius: 8px;
    
    &-inner{
      width:6px;
      height:16px;
      background-color:white;
      border-radius: 8px;
    }
  }
}